:root {
    --main-font: "Rubik";

    --color-white: #ffffff;
    --color-black: #000000;
    --color-brown: #6c584c;
    --color-brown-50: #a98467;

    --background-white-50: #f0ead2;
    --background-green:  #adc178;
    --background-green-50: #dde5b6;
    --background-brown: #faedcd;

    --tablet-width: 768px;
    --desktop-width: 1300px;
}