.about{
    padding: 0 20px;
}
.about__content{
    display: grid;
    grid-template-columns: 494px auto;
    padding-top: 50px;
    padding-left: 56px;
    padding-bottom: 164px;
}
.about__text{
    text-align: center;
}
.about__title{
    font-weight: 700;
font-size: 48px;
line-height: 100%;
margin-bottom: 16px;
text-transform: uppercase;
}
.about__subtitle{
    font-weight: 400;
font-size: 24px;
margin-bottom: 40px;
line-height: 100%;
}
.about__description{
    font-weight: 300;
font-size: 28px;
line-height: 120%;
}
.about__description:not(:last-child){
    margin-bottom: 20px;
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 1300px){
    .about__content{
        grid-template-columns: 287px auto;
        padding: 30px 30px 50px 27px;
    }
    .about__title{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .about__subtitle{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .about__description{
        font-size: 16px;
    }
    .about__description:not(:last-child){
        margin-bottom: 10px;
    }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 767px){
    .about__content{
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-top: 15px;
    }
    .about__text{
        padding-bottom: 360px;
    }
    .about__title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .about__subtitle{
        font-size: 12px;
        margin-bottom: 20px;
    }
    .about__description{
        font-size: 14px;
        padding: 0 13px;
    }
    .about__description:not(:last-child){
        margin-bottom: 10px;
    }
}