.additional {
  margin-bottom: 100px;
}
.additional__content {
  display: flex;
  flex-direction: column;
}
.additional__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.additional__links {
  padding-left: 27px;
  padding-right: 74px;
  display: grid;
  grid-template-columns: 556px 461px;
  gap: 102px;
}
.additional__subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.additional__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.additional__item {
  display: flex;
}
.additional__item svg {
  margin-right: 5px;
  width: 35px;
  height: 35px;
}
.additional__name {
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  margin-right: 15px;
}
.additional__link {
  font-weight: 300;
  font-size: 28px;
  line-height: 120%;
  color: var(--color-brown);
  transition: all .4s;
}
.additional__link:hover{
  transform: scaleX(0.95);
}
.additional__list--social {
  gap: 20px;
}
.additional__link--brown {
  font-weight: 300;
  font-size: 28px;
  line-height: 120%;
  color: var(--color-brown);
  text-decoration: underline var(--color-brown-50);
  text-underline-offset: 6px;
}
.additional__social svg{
  width: 34px;
  height: 34px;
  transition: all .4s;
}
.additional__social .additional__item{
  display: grid;
  grid-template-columns: 34px auto;
  gap: 10px;
}
/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 1300px){  
  .additional{
    margin-bottom: 50px;
  }
  .additional__title{
    font-size: 28px;
    margin-bottom: 15px;
  }
  .additional__links{
    grid-template-columns: 315px 267px;
    gap: 63px;
    padding-left: 19px;
    padding-right: 44px;
  }
  .additional__subtitle{
    font-size: 16px;
    margin-bottom: 7px;
  }
  .additional__list{
    gap: 6px;
  }
  .additional__item svg{
    width: 20px;
    height: 20px;
    margin-right: 2px;
  }
  .additional__name{
    font-size: 16px;
    margin-right: 7px;
  }
  .additional__link{
    font-size: 16px;
  }
  .additional__social .additional__item {
    display: grid;
    grid-template-columns: 20px auto;
    gap: 5px;
  }
  .additional__list--social{
    gap: 7px;
  }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 767px){
  .additional{
    margin: 0;
    background: url('./../../img/about/bg/bg-3.png') no-repeat top 313px right calc(50% - 42px) / 393px 269px;
  }
  .additional__title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }
  .additional__subtitle{
    font-size: 14px;
  }
  .additional__list{
    gap: 5px;
  }
  .additional__social .additional__list{
    gap: 10px;
  }
  .additional__item{
    gap: 5px;
  }
  .additional__item svg{
    width: 17px;
    height: 17px;
  }
  .additional__content{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
  }
  .additional__links{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
  .additional__contacts{
    margin-bottom: 20px;
  }
  .additional__name{
    font-size: 14px;
    margin: 0;
  }
  .additional__link{
    font-size: 14px;
  }
  .additional__social .additional__item{
    grid-template-columns: 17px auto;
    gap: 6px;
  }
}