.button {
  display: inline-block;
  background-color: var(--color-brown-50);
  color: var(--color-white);
  padding: 24px 64px;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  border-radius: 50px;
  transition: all 0.4s;
}
.button:hover {
  transform: scale(1.05);
}
.button--link {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.03em;
}
.cart-info--empty__button {
  padding: 24px 37px;
}
.button__show-more {
  padding: 24px 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}
.button__to-form {
  padding: 24px 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}
.button__wrapper{
  position: relative;
  margin: 0 auto;
  transition: all .4s;
}
.button__wrapper::before{
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  background: url('./../../img/shop/icons/bag.svg') no-repeat;
  top: 9px;
  left: 20px;
  z-index: 2;
  
}
.button__add {
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.03em;
  position: relative;
  padding: 11px 20px;
  padding-left: 57px;
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 1300px) {
  .button{
    padding: 15px 24px;
    font-size: 15px;
  }
  .button--link{
    font-size: 14px;
    padding: 7px 14px;
  }
  .info__button{
    padding: 15px 24px;
  }
  .button__wrapper::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: url('./../../img/shop/icons/bag-white-768.svg') no-repeat;
    top: 7px;
    left: 10px;
    z-index: 2;
    
  }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 767px){
  .button{
    padding: 8px 13px;
    font-size: 12px;
  }
  .button__wrapper::before{
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background: url('./../../img/shop/icons/bag-white-320.svg') no-repeat;
    top: 4px;
    left: 7px;
    z-index: 2;
    
  }.info__button{
    padding: 12px 16px;
  }
}
