.cart {
  padding: 0 20px;
}
.cart__container {
}
.cart__content {
}
.cart-header {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  gap: 130px;
  margin-bottom: 42px;
}
.cart-header__link {
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: var(--color-brown);
  padding-left: 40px;
  position: relative;
  transition: all 0.4s;
}
.cart-header__link:hover {
  transform: scale(1.05);
}
.cart-header__link::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 22px;
  background: url("./../../img/icons/arrow-left.svg") no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.cart-header__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
}
/* .cart__info {
}
.cart__info--empty {
} */
.cart-info--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 628px;
  padding: 150px 0;
  margin: 0 auto;
}
.cart-info--empty__title {
  font-weight: 400;
  font-size: 64px;
  margin-bottom: 30px;
  text-align: center;
}
.cart-info--empty__subtitle {
  font-weight: 300;
  font-size: 28px;
  line-height: 140%;
  margin-bottom: 30px;
  text-align: center;
  padding: 0 80px; /* По макету 0 70px */
}

.cart__grid {
  display: grid;
  grid-template-columns: 728px auto;
  gap: 60px;
}
.cart__grid-goods {
}
.cart__grid-title {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 120%;
  padding-left: 35px;
}
.cart__grid-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cart__grid-item {
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background-color: var(--background-green-50);
}
.cart__grid-wrapper--first {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  gap: 14px;
}
.cart__grid-wrapper--second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  align-items: flex-end;
  align-self: flex-end;
}
.cart__grid-img {
  width: 124px;
  height: 129px;
  object-fit: cover;
}
.cart__grid-name {
  display: inline;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: var(--color-brown);
}
.cart__grid-quantity {
  grid-column-start: 2;
  grid-column-end: 3;
}
.cart__grid-quantity__title {
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
}
.quantity__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cart__grid-button--remove {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.cart__grid-quantity__value {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.03em;
}
.cart__grid-button--add {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.cart__grid-price {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cart__grid-price--old {
  color: var(--color-brown);
  text-decoration: line-through var(--color-brown-50);
  font-size: 24px;
}
.cart__grid-price--now {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.03em;
}
.cart__grid-button--delete {
  grid-column-start: -1;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.cart__grid-total {
  padding: 20px 30px;
  border-radius: 30px;
  background-color: var(--background-white-50);
  align-self: start;
  position: relative;
}
.cart__grid-hint--message {
  position: absolute;
  padding: 10px 19px;
  max-width: 318px;
  background-color: var(--background-white-50);
  border-radius: 25px;
  border: 1px solid var(--color-brown);
  color: var(--color-brown);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;

  top: 165px;
  left: 57px;
}
.cart__grid-place {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}
.cart__grid-address {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--color-brown);
  margin-bottom: 30px;
}
.cart__grid-info__price {
  margin-bottom: 15px;
}
.cart__info-value {
  margin-bottom: 15px;
  color: var(--color-brown);
  display: flex;
  justify-content: space-between;
}
.cart__info-value__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.cart__info-value__sum {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.cart__info-sale {
  color: var(--color-brown);
  display: flex;
  justify-content: space-between;
}
.cart__info-sale__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.cart__info-sale__value {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.cart__grid-sum {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.cart__grid-sum__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
}
.cart__grid-sum__value {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
}
.cart__grid-book {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.cart__grid-book__add {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  padding: 24px 27px;
}
.cart__grid-book__hint {
  cursor: pointer;
  background-color: transparent;
}

.cart-modal {
  background-color: var(--color-white);
  margin: auto;
  max-width: 704px;
  padding: 30px;
  border-radius: 50px;
  text-align: center;
}
.cart-modal__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 17px;
}
.cart-modal__subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 17px;
}
.cart-modal__button {
  font-size: 24px;
  font-weight: 700;
  padding: 24px 53px;
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 1300px){
  .cart__header .cart-header__link{
    font-size: 15px;
    padding-left: 30px;
  }
  .cart-header{
    grid-template-columns: 110px auto;
    gap: 104px;
    margin-bottom: 25px;
  }
  .cart-header__title{
    font-size: 28px;
  }
  .cart__grid{
    grid-template-columns: 397px auto;
    gap: 30px;
  }
  .cart__grid-title{
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  .cart__grid-list{
    gap: 15px;
  }
  .cart__grid-item{
    padding: 7px;
    gap: 6px;
  }
  .cart__grid-name{
    font-size: 13px;
  }
  .cart__grid-img{
    width: 82px;
    height: 81px;
  }
  .cart__grid-wrapper--first{
    max-width: 200px;
    gap: 4px;
  }
  .cart__grid-quantity__title{
    font-size: 13px;
    margin-bottom: 5px;
  }
  .cart__grid-button--add,
  .cart__grid-button--remove,
  .cart__grid-button--delete,
  .cart__grid-button--add img,
  .cart__grid-button--remove img,
  .cart__grid-button--delete img{
    width: 20px;
    height: 20px;
  }
  .quantity__wrapper{
    gap: 9px;
  }
  .cart__grid-quantity__value{
    font-size: 24px;
  }
  .cart__grid-total{
    padding: 10px;
    border-radius: 15px;
  }
  .cart__grid-price--now{
    font-size: 16px;
  }
  .cart__grid-price--old{
    font-size: 15px;
  }
  .cart__grid-place{
    padding-right: 74px;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .cart__grid-address{
    font-size: 13px;
    margin-bottom: 15px;
  }
  .cart__info-value__title,
  .cart__info-value__sum,
  .cart__info-sale__title,
  .cart__info-sale__value{
    font-size: 13px;
  }
  .cart__info-value{
    margin-bottom: 5px;
  }
  .cart__grid-info__price{
    margin-bottom: 5px;
  }
  .cart__grid-sum__title,
  .cart__grid-sum__value{
    font-size: 16px;
  }
  .cart__grid-sum{
    margin-bottom: 15px;
  }
  .cart__grid-book{
    gap: 10px;
  }
  .cart__grid-book__add{
    padding: 15px;
    font-size: 15px;
  }
  .cart__grid-book__hint svg {
    width: 22px;
    height: 22px;
  }
  .cart__grid-hint--message {
    position: absolute;
    padding: 7px;
    max-width: 202px;
    background-color: var(--background-white-50);
    border-radius: 15px;
    border: 1px solid var(--color-brown);
    color: var(--color-brown);
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
  
    top: 60px;
    left: 39px;
  }
  .cart-modal {
    margin: auto;
    max-width: 448px;
    padding: 20px 33px;
    border-radius: 25px;
  }
  .cart-modal__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .cart-modal__subtitle {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .cart-modal__button {
    font-size: 15px;
    padding: 15px 32px;
  }
  .cart-info--empty {
    max-width: 392px;
    padding: 150px 0;
  }
  .cart-info--empty__title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .cart-info--empty__subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 0 37px; /* По макету 0 70px */
  }
  .cart-info--empty__button{
    padding: 15px 23px;
  }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 767px) {
  .cart-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
  }
  .cart .cart-header__link {
    align-self: flex-start;
    font-size: 12px;
    padding-left: 23px;
  }
  .cart-header__title {
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 0.03em;
  }
  .cart__grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cart__grid-total {
    order: -1;
    padding: 10px 21px;
  }
  .cart__grid-place {
    font-size: 13px;
    padding-right: 90px;
    margin-bottom: 5px;
  }
  .cart__grid-address {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .cart__grid-info__price {
    margin-bottom: 5px;
  }
  .cart__info-value {
    margin-bottom: 5px;
  }
  .cart__info-value__title {
    font-size: 12px;
  }
  .cart__info-value__sum {
    font-size: 12px;
  }
  .cart__info-sale__value {
    font-size: 12px;
  }

  .cart__info-sale__title {
    font-size: 12px;
  }
  .cart__grid-sum{
    margin-bottom: 10px;
  }
  .cart__grid-sum__title {
    font-size: 16px;
  }
  .cart__grid-sum__value {
    font-size: 16px;
  }
  .cart__grid-book__add {
    padding: 10px 5px;
    font-size: 12px;
  }
  .cart__grid-book__hint svg {
    width: 17px;
    height: 17px;
  }
  .cart__grid-title {
    font-size: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
  }
  .cart__grid-item {
    padding: 5px;
    border-radius: 7px;
  }
  .cart__grid-name {
    font-size: 12px;
  }
  .cart__grid-img {
    border-radius: 5px;
    width: 88px;
    height: 106px;
  }
  .quantity__wrapper {
    gap: 7px;
  }
  .cart__grid-quantity__title {
    font-size: 10px;
  }
  .cart__grid-quantity__value {
    font-size: 16px;
  }
  .cart__grid-price--now {
    font-size: 13px;
  }
  .cart__grid-price--old {
    font-size: 10px;
  }
  .cart__grid-button--add img,
  .cart__grid-button--add,
  .cart__grid-button--remove img,
  .cart__grid-button--remove,
  .cart__grid-button--delete img,
  .cart__grid-button--delete {
    width: 22px;
    height: 22px;
  }
  .cart__grid-wrapper--first {
    gap: 5px;
    max-width: 123px;
  }
  .cart__grid-hint--message {
    border-radius: 15px;
    max-width: 153px;
    top: 52px;
    padding: 7px 10px;
    font-size: 10px;
    left: 65px;
  }

  .cart-modal {
    padding: 15px 18px;
    border-radius: 20px;
    max-width: 280px;
  }
  .cart-modal__title {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .cart-modal__subtitle {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .cart-modal__button {
    font-size: 12px;
    padding: 8px 16px;
  }
  .cart-info--empty {
    max-width: 392px;
    padding: 150px 0;
  }
  .cart-info--empty__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .cart-info--empty__subtitle {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .cart-info--empty__button{
    padding: 8px;
  }
}
