.cart {
  padding: 0 20px;
} 
.cart__container {
}
.cart__content {
}
.cart-header {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  gap: 130px;
  margin-bottom: 142px;
}
.cart-header__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: var(--color-brown);
  padding-left: 40px;
  position: relative;
  transition: all .4s;
}
.cart-header__link:hover{
  transform: scale(1.05);
}
.cart-header__link::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 22px;
  background: url("./../../img/icons/arrow-left.svg") no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.cart-header__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
}
/* .cart__info {
}
.cart__info--empty {
} */
.cart-info--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 628px;
  /* padding: 0 296px; */
  margin: 0 auto;
}
.cart-info--empty__title {
  font-weight: 400;
  font-size: 64px;
  margin-bottom: 30px;
  text-align: center;
}
.cart-info--empty__subtitle {
  font-weight: 300;
  font-size: 28px;
  line-height: 140%;
  margin-bottom: 30px;
  text-align: center;
  padding: 0 80px; /* По макету 0 70px */
}

