.catalog__filter {
}
.catalog-filter {
  padding: 0 42px;
}
.catalog-filter__row {
}
.filter-row {
  display: grid;
  grid-template-columns: auto 430px;
  align-items: center;
}
.filter-row__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.filter-row__buttons {
}
.filter-buttons {
  display: grid;
  grid-template-columns: 215px 197px;
}
.filter-buttons__search {
  border: 1px solid var(--color-brown-50);
  border-radius: 20px;
  padding: 12px 13px 11px 13px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-brown-50);
  appearance: none;
}
.filter-buttons__search::placeholder{
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-brown-50);
}
.filter-buttons__search::-ms-clear{
  width : 0;
  height: 0;
}
.filter-buttons__submit {
  border: 1px solid var(--color-brown-50);
  border-radius: 20px;
  padding: 12px 10px 11px 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-brown-50);
}
.filter{
  display: flex;
}
.js-example-basic-single{
}