.catalog__filter {
}
.catalog-filter {
  padding: 0 42px;
}
.visually-hidden {
}
.catalog-filter__row {
}
.filter-row__wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.filter-row__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.filter-row__search-button {
  border: 1px solid var(--color-brown-50);
  padding: 12px 12px 11px 53px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-brown-50);
  max-width: 215px;
}
.filter-row__search-button::placeholder {
  color: var(--color-brown-50);
}
.search-button__wrapper {
  position: relative;
}
.search-button__wrapper::after {
  position: absolute;
  content: "";
  background: url("./../../img/pet/filter/search.svg") no-repeat;
  width: 35px;
  height: 35px;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
}
.submit-button__wrapper {
  position: relative;
}
.submit-button__wrapper::before {
  position: absolute;
  content: "";
  background: url("./../../img/pet/filter/filter.svg") no-repeat;
  width: 35px;
  height: 35px;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
  pointer-events: none;
}
.filter-row__submit-button {
  border: 1px solid #a98467;
  border-radius: 20px;
  background-color: var(--background-white-50);
  padding: 12px 10px 11px 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-brown-50);
}
.filter {
  border: 1px solid var(--color-brown-50);
  background-color: var(--background-white-50);
  border-radius: 30px;
  margin-bottom: 15px;
}
.filter__row {
  padding: 15px;
  /* display: grid;
  grid-template-columns: repeat(6, auto); */
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  align-items: center;
  justify-content: space-around;
}
.filter-row__wrapper--arrow {
  position: relative;
}
.filter-row__wrapper--arrow::after {
  position: absolute;
  content: "";
  background: url("./../../img/pet/filter/arrow-down.svg") no-repeat;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 22px;
  height: 12px;
  pointer-events: none;
}
.filter-row__select {
  font-family: var(--main-font);
  cursor: pointer;
  position: relative;
  background-color: var(--background-white-50);
  border: 1px solid var(--color-brown-50);
  border-radius: 20px;
  padding: 5px 40px 6px 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: var(--color-brown-50);
  appearance: none;
  max-width: 229px;
}

.filter-row__option {
  background-color: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: var(--color-brown);
}
.filter__buttons {
}
.filter-buttons {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
.filter-button {
  border: 1px solid #a98467;
  border-radius: 20px;
  padding: 11px 15px;
  color: var(--color-brown-50);
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  
}
.filter-buttons__reset {
  background-color: transparent;
}
.filter-buttons__submit {
  background-color: var(--background-white-50);
}
.option__wrapper {
  background: #000;
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 1300px) {
  .filter-row__wrapper {
    gap: 10px;
  }
  .catalog-filter {
    padding: 0;
  }
  .filter-row__title {
    font-size: 20px;
    font-weight: 500;
  }
  .filter-row__search-button {
    max-width: 138px;
    font-size: 11px;
    padding: 8px 14px 7px 30px;
  }
  .filter-row__submit-button {
    padding: 8px 8px 7px 33px;
    font-size: 11px;
  }
  .search-button__wrapper::after {
    position: absolute;
    content: "";
    background: url("./../../img/pet/filter/search-768.svg") no-repeat;
    left: 8px;
    width: 22px;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
  }
  .submit-button__wrapper::before {
    position: absolute;
    content: "";
    background: url("./../../img/pet/filter/filter-768.svg") no-repeat;
    width: 22px;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    pointer-events: none;
  }
  .filter-row__select {
    font-size: 14px;
    padding: 4px 24px 4px 9px;
  }
  .filter-row__option {
    font-size: 14px;
  }
  .filter-row__wrapper--arrow::after {
    position: absolute;
    content: "";
    background: url("./../../img/pet/filter/arrow-down-768.svg") no-repeat;
    top: 50%;
    transform: translateY(-50%);
    right: 9px;
    pointer-events: none;
    width: 14px;
    height: 8px;
  }
  .filter-button{
    padding: 8px 10px;
    font-size: 11px;
  }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 767px){
  .filter-row__wrapper{
    display: grid;
    grid-template-columns: 154px 115px;
    column-gap: 5px;
  }
  .filter-row__title{
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    padding: 0 45px;
  }
  .filter-row__search-button{
    font-size: 10px;
    padding: 6px 10px 5px 27px;
    min-width: 100%;
  }
  .filter-row__submit-button{
    font-size: 10px;
    padding: 6px 7px 5px 30px;
  }
  .search-button__wrapper::after {
    position: absolute;
    content: "";
    background: url("./../../img/pet/filter/search-320.svg") no-repeat;
    left: 7px;
    width: 18px;
    height: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
  .submit-button__wrapper::before {
    position: absolute;
    content: "";
    background: url("./../../img/pet/filter/filter-320.svg") no-repeat;
    width: 20px;
    height: 18px;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    pointer-events: none;
  }
  .filter-row__select{
    font-size: 11px;
  }
  .filter-row__option{
    font-size: 11px;
  }
  .filter__row{
    row-gap: 10px;
  }
  .catalog-filter__row{
    margin-bottom: 10px;
  }
  .filter-buttons{
    justify-content: center;
  }
}