.category {
  padding: 0 20px;
}
.category__container {
}
.category__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.category__list {
  display: grid;
  grid-template-columns: repeat(4, 285px);
  gap: 24px;
}
.category__link svg {
  width: 254px;
  height: 254px;
  margin-bottom: 23px;
}
.category__link {
  border-radius: 20px;
  background: #dde5b6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 23px;
  transition: all .4s;
}
.category__link:hover {
  box-shadow: 0px 5px 19px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 19px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 19px -2px rgba(0, 0, 0, 0.75);
}
.category__name {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}


/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 1300px){
  .category__title{
    font-size: 20px;
    margin-bottom: 15px;
  }
  .category__list{
    grid-template-columns: repeat(4, 167px);
    gap: 13px;
  }
  .category__link svg{
    width: 149px;
    height: 149px;
    margin-bottom: 13px;
  }
  .category__name{
    font-size: 20px;
  }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 767px){
  .category__title{
    font-size: 24px;
  }
  .category__list{
    grid-template-columns: repeat(1, 280px);
  }
  .category__link svg{
    width: 142px;
    height: 142px;
  }
}