.choice {
    background: url('./../../img/pet/bg/pet-bg.png') no-repeat top -19px right calc(50% - 438px) / 876px 548px;
    padding: 0 20px;
    margin-bottom: 20px;
}
/* .choice__container {
    
}
.container {
} */
.choice-promo {
    display: grid;
    grid-template-columns: 440px auto;
    padding-left: 85px;
    height: 530px;
}
.choice-promo__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 64px;
}
.choice-promo__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding-top: 75px;
}
.choice-promo__subtitle {
  font-weight: 300;
  font-size: 28px;
  line-height: 120%;
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 1300px){
  .choice{
    background: url('./../../img/pet/bg/pet-bg.png') no-repeat top -5px right calc(50% - 207px) / 494px 309px;
  }
  .choice-promo__title{
    font-size: 28px;
    margin-bottom: 20px;
    padding-top: 30px;
  }
  .choice-promo__subtitle{
    font-size: 16px;
  }
  .choice-promo{
    height: 304px;
    padding-left: 47px;
    grid-template-columns: 257px auto;
  }
  .choice-promo__text{
    padding-bottom: 53px;
  }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 767px){
  .choice{
    background: url('./../../img/pet/bg/pet-bg.png') no-repeat top 173px left calc(50% + 50px) / 483px 302px;
  }
  .choice-promo__title{
    font-size: 24px;
    padding-top: 15px;
    margin-bottom: 15px;
  }
  .choice-promo{
    padding: 0;
    height: 475px;
    display: flex;
  }
  .choice-promo__subtitle{
    font-size: 12px;
    padding: 0 15px;
  }
}