.container{
    /* max-width: 84.722222%; */
    width: 1220px;
    margin: 0 auto;
}
@media (max-width: 1300px) {
    .container{
        width: 708px;
    }
}
@media (max-width: 767px){
    .container{
        width: 280px;
    }
}