.food {
    padding: 0 20px;
}
.food-header {
  position: relative;
  text-align: center;
  margin-bottom: 47px;
  margin-top: 48px;
}
.food-header__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
}
.food__catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.food-catalog__row {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
}
input.food-catalog__search-button{
  max-width: 302px;
}
.food-catalog__search:valid {
  border: none;
}
.food-catalog__search {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-brown-50);
  padding: 5px 15px;
}
.food-catalog__search::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-brown-50);
}
.food-catalog__row .food-catalog__search {
  border: 1px solid #a98467;
  border-radius: 20px;
}
.button--transparent {
  position: relative;

  border: 1px solid #a98467;
  border-radius: 20px;
  padding: 12px 15px;
  padding-left: 55px;
}
.button--transparent::before {
  content: "";
  position: absolute;
  background: url("./../../img/shop/icons/bag-brown.svg") no-repeat;
  width: 35px;
  height: 35px;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
.button--search {
  position: relative;
}
.button--search::before {
  content: "";
  position: absolute;
  background: url("./../../img/shop/icons/search.svg") no-repeat;
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
}
.button--not-available {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.03em;
  padding: 12px 20px;
  opacity: 0.7;
  cursor: no-drop;
}
.food-catalog__cart {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-brown-50);
}
.food-catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 383px);
  gap: 20px 35px;
  margin-bottom: 50px;
}
.food-catalog__item {
  background-color: var(--background-green-50);
  padding: 15px;
  border-radius: 20px;
  max-width: 383px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.food-catalog__item .button:hover {
  transform: none;
}
.food-catalog__img {
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 15px;
}
.food-catalog__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: var(--color-brown);
  padding: 0 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 96px;
}
.food-catalog__price-row{
    display: flex;
    align-items: baseline;
    gap: 17px;
}
.food-catalog__price {
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.03em;
  padding-left: 5px;
  margin-bottom: 15px;
}
.food-catalog__item--sale {
    position: relative;
}
.food-catalog__item--sale::before{
    content: "";
    position: absolute;
    width: 135px;
    height: 42px;
    background: url('./../../img/shop/icons/sale.png') no-repeat;
    right: 15px;
    top: 15px;
}
.food-catalog__price--old {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: var(--color-brown);
  text-decoration: line-through var(--color-brown-50);
}


/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 1300px){
  .food-catalog__item{
    padding: 10px;
  }
  .food-header__title{
    font-size: 28px;
  }
  .food-catalog__row{
    gap: 20px;
  }
  .food__link--back{
    font-size: 15px;
  }
  .food__link--back svg{
    width: 22px;
    height: 18px;
  }
  .header__link{
    gap: 7px;
  }
  .food-header{
    margin: 30px 0;
  }
  .food-catalog__cart{
    font-size: 11px;
    padding: 8px 8px 7px 33px;
  }
  .button--transparent::before {
    content: "";
    position: absolute;
    background: url("./../../img/shop/icons/bag-768.svg") no-repeat;
    width: 22px;
    height: 23px;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
  }
  input.food-catalog__search-button{
    max-width: 162px;
  }
  .food-catalog__list{
    gap: 20px 18px;
    grid-template-columns: repeat(3, 224px);
  }
  .food-catalog__img{
    width: 100%;
    height: 176px;
    border-radius: 10px;
    object-fit: cover;
  }
  .food-catalog__name{
    font-size: 15px;
  }
  .food-catalog__price{
    font-size: 16px;
  }
  .food-catalog__price-row{
    gap: 10px;
  }
  .button__add{
    padding: 7px 10px 7px 28px;
  }
  .food-catalog__price--old{
    font-size: 15px;
  }
  .button--not-available{
    padding: 7px 10px;
    font-size: 14px;
  }
  .food-catalog__item--sale::before{
    content: "";
    position: absolute;
    width: 68px;
    height: 20px;
    background: url('./../../img/shop/icons/sale-768.png') no-repeat;
    right: 10px;
    top: 10px;
}
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 767px){
  .food-catalog__item{
    padding: 10px;
  }
  .food-header__title{
    font-size: 14px;
    line-height: 110%;
  }
  .food__link--back{
    font-size: 15px;
  }
  .food__link--back svg{
    width: 18px;
    height: 13px;
  }
  .header__link{
    position: absolute;
    display: flex;
    gap: 5px;
    top: 20px;
    font-size: 12px;
  }
  .food-header{
    margin-top: 0;
    padding-top: 44px;
    margin-bottom: 10px;
  }
  .food-catalog__cart{
    font-size: 10px;
    padding: 6px 7px 5px 27px;
  }
  .button--transparent::before {
    content: "";
    position: absolute;
    background: url("./../../img/shop/icons/bag-320.svg") no-repeat;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    left: 9px;
  }
  input.food-catalog__search-button{
    max-width: 138px;
  }
  .food-catalog__list{
    gap: 10;
    grid-template-columns: repeat(2, 135px);
  }
  .food-catalog__img{
    width: 100%;
    height: 111px;
    border-radius: 10px;
    object-fit: cover;
  }
  .food-catalog__name{
    font-size: 10px;
    padding: 0 2px;
    height: auto;
  }
  .food-catalog__price{
    font-size: 12px;
    padding-left: 2px;
  }
  .food-catalog__price-row{
    gap: 5px;
    display: grid;
    grid-template-columns: auto auto;
  }
  .button__add{
    padding: 6px 7px 6px 22px;
    font-size: 10px;
  }
  .food-catalog__price--old{
    font-size: 8px;
  }
  .button--not-available{
    padding: 6px 7px;
    font-size: 10px;
  }
  .food-catalog__item--sale::before{
    content: "";
    position: absolute;
    width: 68px;
    height: 20px;
    background: url('./../../img/shop/icons/sale-768.png') no-repeat;
    right: 10px;
    top: 10px;
  }
  .food-catalog__row{
    gap: 10px;
    margin-bottom: 15px;
  }
}