.form {
  padding: 0 20px;
}
.visually-hidden {
}
.form__container {
}
.form__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field-group {
}
.field-group--personal {
  margin-bottom: 50px;
}
.field-group__heading {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  margin-bottom: 15px;
}
.field-group__list {
  display: grid;
  grid-template-columns: repeat(3, 352px);
  gap: 45px;
  padding: 0 40px;
}
.field-group__item {
}
.field-group__item--grid {
  grid-column-start: 2;
  grid-column-end: 4;
  padding-right: 203px;
}
.field {
  display: flex;
  flex-direction: column;
}
.field__lead {
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  hyphens: auto;
}
.field-lead {
  margin-bottom: 5px;
}

.field__input {
  border: 1px solid var(--color-brown-50);
  border-radius: 10px;
  padding: 11px 15px;
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;
  width: 100%;
  color: var(--color-brown);
  cursor: pointer;
  border-radius: 10px;
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;
}
.field__input-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.field__input-select::-ms-expand {
  display: none;
}
.select-wrapper {
  position: relative;
}
.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  width: 32px;
  height: 15px;
  display: block;
  background: url("./../../img/icons/arrow-select.svg");
  pointer-events: none;
  transition: 0.2s ease-in;
}
/* input:invalid {
  border: 2px solid red;
}
input:valid {
  border: 2px solid rgb(159, 255, 34);
} */
select option {
}
/* УБИРАЕТ СТРЕЛКИ У "ВОЗРАСТ" */
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
/* ============================ */

.field-group--contacts {
  margin-bottom: 50px;
}
.field-group--other {
  margin-bottom: 50px;
}
.field-group__list--other {
}
.field-group__item--other {
  display: block;
}
.field--other {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.field__lead--description {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-brown);
  padding: 15px 0;
}
.field-group__list--radio {
  margin-top: 30px;
}
.control {
}
.form__button {
  padding: 24px 38px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}

/* СТИЛИЗАЦИЯ RADIO BUTTONS */
.field__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
.field--radio {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  padding-left: 35px;
  user-select: none;
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;
  color: var(--color-brown);
}
.field-group__list--radio .field__lead {
  display: block;
  margin-bottom: 16px;
}
.field--radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #a98467;
}
.checkmark--no {
  top: 10px;
}
.field--radio:hover input ~ .checkmark {
  background-color: #eee;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.field--radio input:checked ~ .checkmark:after {
  display: block;
}
.field--radio .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #adc178;
}
