.help {
    margin-bottom: 100px;
    padding: 0 20px;
    background: url('./../../img/about/bg/bg-3.png') no-repeat top 24px right calc(50% - 408px) / 674px 584px;
    
}
.help__container {
}
.container {
}
.help__content {
  display: grid;
  grid-template-columns: 452px auto;
}
.help__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
.help__title {
    font-weight: 700;
font-size: 48px;
line-height: 100%;
text-transform: uppercase;
}
.help__description {
    font-weight: 300;
font-size: 28px;
line-height: 120%;
}
.button {
}
.button--help {
    padding: 24px 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  width: 329px;
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 1300px){
  .help{
    margin-bottom: 50px;
    background-size: 400px 346px;
    background-position: top 0px right calc(50% - 240px);
  }
  .help__content{
    grid-template-columns: 282px auto;
    padding-left: 36px;
  }
  .help__text{
    gap: 15px;
  }
  .help__title{
    font-size: 28px;
  }
  .help__description{
    font-size: 16px;
  }
  .button--help{
    padding: 15px 23px;
    font-size: 15px;
    width: 194px;
  }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 767px){
  .help{
    background: none;
    margin-bottom: 0;
    padding-bottom: 15px;
  }
  .help__content{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
  .help__text{
    gap: 10px;
  }
  .help__title{
    font-size: 24px;
  }
  .help__description{
    font-size: 14px;
  }
  .button--help{
    padding: 8px 11px;
    font-size: 12px;
    width: 140px;
  }
}