.history {
    margin-bottom: 100px;
}
.history__content {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.history__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.history__text {
  display: grid;
  grid-template-columns: repeat(2, 586px);
  gap: 24px;
}
.history__description {
  font-weight: 300;
  font-size: 28px;
  line-height: 120%;
}
/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 1300px){

}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 767px){
  .history{
    margin: 0;
    padding-top: 15px;
  }
  .history__content{
    padding: 0 15px;
  }
  .history__text{
    display: flex;
    flex-direction: column;
    gap: 27px;
  }
  .history__title{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .history__description{
    font-size: 14px;
  }
}