.mission{
    background: url('./../../img/about/bg/bg-2.png') no-repeat top 50px left -54px;
    padding: 0 20px;
}
.mission__container{    
    
}
.container{

}
.mission__content{
    padding-top: 50px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: auto 500px;
}
.mission__image{

}
.mission__text{
    text-align: center;
    padding: 50px 0;
    padding-right: 55px;
}
.misson__title{
    font-weight: 700;
font-size: 48px;
line-height: 100%;
margin-bottom: 30px;
text-transform: uppercase;
}
.misson__description{
    font-weight: 300;
font-size: 28px;
line-height: 120%;
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 1300px){

}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 767px){
    .mission{
        background: url('./../../img/about/bg/bg-2-320.png') no-repeat top 220px left calc(50% - 20px);
    }
    .mission__content{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .mission__text{
        padding: 0;
        padding-bottom: 330px;
    }
    .misson__title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .misson__description{
        font-size: 14px;
    }
}