.page {
  font-family: var(--main-font);
  scroll-behavior: smooth;
}
.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.page-body__about{
  background: url('./../../img/about/bg/bg-1.png') no-repeat top 0px right 0px;
  background-size:  auto;
}