.page-header{
    padding: 51px 20px 0 20px;
    border-radius: 0 0 50px 50px;
    background: url('./../../img/index/header/decor/ellipse-green.svg') left calc(50% - 774px) top 493px / 533px 533px,
                url('./../../img/index/header/header-bg-desktop.png') top 159px right calc(50% - 237px) / 743px 634px;
    background-repeat: no-repeat;
    background-color: var(--background-white-50);
    z-index: 3;
}
/* ================================= BURGER MENU ==================================== */



/* ============================================================================= */

.page-header--no-decor{
    background-image: none;
}
.page-header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
}
.page-header__logo{
    margin-right: 30px;
    transition: all .4s;
}
.logo{
    width: 197px;
    height: 71px;
}
.page-header__logo:hover{
    transform: scale(1.05);
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */
@media (max-width: 1300px) {
    .page__header{
        background-size: 222px 222px;
        border-radius: 0 0 25px 25px;
        background-position: top 316px left -131px;
    }
    .page-header{
        padding-top: 35px;
        background: url('./../../img/index/header/decor/ellipse-green.svg') left calc(50% - 404px) top 316px / 222px 222px no-repeat,
                url('./../../img/index/header/header-bg-tablet.png') top 107px right calc(50% - 138px) / 431px 384px no-repeat;
        background-color: var(--background-white-50);
    }
    .page-header__nav{
        margin-bottom: 30px;
    }
    
    .logo{
        width: 94px;
        height: 32px;
    }
    .page-header__toggler{
        display: none;
    }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 767px){
    .page-header{
        padding-top: 10px;
        border-radius: 0 0 10px 10px;
    }
    #index .page-header{
        border-radius: 0 0 20px 20px;
        min-height: 507px;
        background: url('./../../img/index/header/header-bg-tablet.png') top 294px right calc(50%) / 312px 279px no-repeat;
        background-color: var(--background-white-50);
    }
    .page-header__nav{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: auto auto;
        margin-bottom: 15px;
    }
    .page-header__logo{
        margin: 0;
        text-align: center;
    }
    
    .page-header__toggler{
        padding: 0;
        position: absolute;
        z-index: 3;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .page-header__nav--opened .page-header__toggler {
        top: 50%;
    }
    .page-header__nav--closed .page-header__toggler::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 24px;
        height: 2px;
        background-color: #000;
        box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
    }
    .page-header__nav--opened .page-header__toggler{
        right: 0;
        z-index: 3;
        width: 24px;
        height: 24px;
    }
    .page-header__nav--opened .page-header__toggler::before,
    .page-header__nav--opened .page-header__toggler::after{
        content: "";
        position: absolute;
        left: 0;
        width: 24px;
        height: 2px;
        background-color: #000;
    }
    .page-header__nav--opened .page-header__toggler::before{
        transform: rotate(45deg);
    }
    .page-header__nav--opened .page-header__toggler::after{
        transform: rotate(-45deg);
    }
    .page-header__nav--closed .site-menu__item {
        display: none;
    }
    .site-menu{
        width: 100vw;
        margin-top: 9px;
        display: flex;
        text-align: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        background: var(--background-white-50);
        z-index: 2;
        grid-column-start: 1;
        grid-column-end: -1;
        align-items: center;
    }
    .site-menu__item--active::after{
        display: none;
    }
    
    .page-header__shop .page-header__nav{
        margin-bottom: 10px;
    }
    .logo{
        width: 71px;
        height: 24px;
    }
}