.page-header{
    padding: 51px 20px 0 20px;
    background: var(--background-white-50);
    border-radius: 0 0 50px 50px;
    position: relative;
}
.page-header::after{
    content: "";
    position: absolute;
    z-index: 1;
    background: url('./../../img/index/header/decor/ellipse-1.png');
    width: 533px;
    height: 533px;
    display: block;
    top: 0;
    left: 0;
}
.page-header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
}
.page-header__logo{
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    margin-right: 30px;
    max-width: 141px;
    text-align: center;
}