.page {
  font-family: var(--main-font);
  scroll-behavior: smooth;
}
.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.scroll-lock{
  overflow: hidden;
}
.page-body__about{
  background: url('./../../img/about/bg/bg-1.png') no-repeat top 0px right 0px;
  background-size:  auto;
}
.page-body__cart{
  background: url('./../../img/cart/bg/bg_assets-desktop.svg') no-repeat bottom -122px right calc(50% - 770px),
                url('./../../img/cart/bg/ellipse-desktop.svg') no-repeat top 318px left calc(50% - 685px);
}
#food{
  background: url('./../../img/shop/food/bg/rectangle-brown.svg') no-repeat bottom 172px left calc(50% - 621px);
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 1300px){
  .page-body__cart{
    background: none;
  }
  .page-body__about{
    background: url('./../../img/about/bg/bg-1.png') no-repeat top 0px right calc(50% - 200px);
    background-size:  450px;
  }
  #food{
    background: url('./../../img/shop/food/bg/rectangle-brown.svg') no-repeat bottom -105px left calc(50% - 333px) / 156px 134px;
  }
}
/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 767px){
  .page-body__about{
    background: url('./../../img/about/bg/bg-1-320.png') no-repeat top 232px right calc(50% - 90px);
  }
  .page__body{
    grid-template-rows: max-content auto max-content;
  }
  #page__body-shop{
    background: url('./../../img/shop/bg/ellipse-green.svg') no-repeat top 1185px left calc(50% - 171px) / 266px 266px;
  }
}