.page-main{
    padding: 35px 0 30px 0;
    background: url('./../../img/index/header/decor/ellipse-brown.svg') no-repeat top 183px right calc(50% - 805px) / 533px 533px,
                url('./../../img/index/header/decor/ellipse-brown.svg') no-repeat bottom 55px left calc(50% - 661px) / 533px 533px;
}
.page-main--no-decor{
    background: none;
    padding: 0 0 50px 0;
}
.page-main__shop{
    background: url('./../../img/shop/bg/ellipse-brown-green.svg') no-repeat top 255px left calc(50% - 757px) / 631px 576px;
}

.page-main__empty-cart{
    padding: 50px 0 150px 0;
}
.page-main__card{
    padding: 20px 0 40px 0;
}
.page-main__form{
    padding: 44px 0 50px 0;
}
.page-main--pet{
    background: url('./../../img/pet/bg/rectangle-bg-green.svg') no-repeat top 65px left calc(50% - 863px) / 602px 598px;
    padding-bottom: 30px;
}
.page-main__about{
    padding: 0;
    background: url('./../../img/about/bg/ellipse.svg') no-repeat bottom 15px left calc(50% - 496px) / 373px 358px;
}

.page-main__empty-cart{
    background: none;
    padding: 30px 0 50px 0;
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 1300px) {
    .page-main__index{
        padding: 20px 0;
        background: url('./../../img/index/header/decor/ellipse-brown.svg') no-repeat top 111px right calc(50% - 437px) / 256px 256px,
                url('./../../img/index/header/decor/ellipse-brown.svg') no-repeat bottom 51px left calc(50% - 395px) / 256px 256px;
    }
    .page-main__shop{
        padding-top: 0;
        background: url('./../../img/shop/bg/ellipse-brown-green.svg') no-repeat top 144px left calc(50% - 415px) / 323px 288px;
    }
    .page-main__card{
        padding: 20px 0;
    }
    .page-main__food{
        background: url('./../../img/shop/food/bg/rect-768.svg') no-repeat bottom 10px left -22px;
    }
    .page-main__form{
        padding: 30px 0 20px 0;
    }
    .page-main__empty-cart{
        background: url('./../../img/cart/bg/bg_assets.svg') no-repeat bottom 10px left calc(50% + 370px),
                    url('./../../img/cart/bg/ellipse.svg') no-repeat top 105px left calc(50% - 348px);
        padding: 30px 0 50px 0;
    }
    .page-main__about{
        padding: 0;
        background: url('./../../img/about/bg/ellipse.svg') no-repeat bottom 31px left calc(50% - 260px);
        background-size: 183px;
    }
    .page-main--pet{
        background: url('./../../img/pet/bg/rectangle-bg-green.svg') no-repeat top 31px left calc(50% - 486px) / 361px 359px;
    }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 767px) {
    .page-main__index{
        background: url('./../../img/index/header/decor/ellipse-brown.svg') no-repeat top 221px right calc(50% - 182px) / 244px 244px,
                    url('./../../img/index/header/decor/ellipse-brown.svg') no-repeat top 528px left calc(50% - 176px) / 244px 244px,
                    url('./../../img/index/header/decor/ellipse-brown.svg') no-repeat bottom 311px right calc(50% - 182px) / 244px 244px,
                    url('./../../img/index/header/decor/ellipse-brown.svg') no-repeat bottom 35px left calc(50% - 220px) / 244px 244px;
    }
    .page-main__shop{
        padding-top: 0;
        background: url('./../../img/shop/bg/ellipse-brown.svg') no-repeat top 572px right calc(50% - 130px) / 115px 116px;
    }
    .page-main--pet{
        padding-bottom: 15px;
    }
    .page-main__form{
        padding: 15px 0 20px 0;
        background: url('./../../img/form/bg/form-bg-320.png') no-repeat top 264px right 50%;
    }
    .page-main__about{
        padding: 0;
        background: none;
    }
    .page-main__empty-cart{
        background: none;
        padding: 15px 0 15px 0;
    }
    .page-main--pet{
        background: url('./../../img/pet/bg/rectangle-bg-green.svg') no-repeat top 15px left calc(50% - 183px) / 131px 131px;
    }
}