.page {
  font-family: var(--main-font);
}
.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.scroll-lock{
  overflow: hidden;
}
.page-body__about{
  background: url('./../../img/about/bg/bg-1.png') no-repeat top 0px right calc(50% - 508px) / 940px 836px;
  background-size:  auto;
}
.page-body__cart{
  background: url('./../../img/cart/bg/bg_assets-desktop.svg') no-repeat bottom -122px right calc(50% - 770px),
                url('./../../img/cart/bg/ellipse-desktop.svg') no-repeat top 318px left calc(50% - 685px);
}
#food{
  background: url('./../../img/shop/food/bg/rectangle-brown.svg') no-repeat bottom 172px left calc(50% - 621px);
}
#pet{
  background: url('./../../img/pet/bg/ellipse-bg-brown.svg') no-repeat top 1024px left calc(50% - 901px) / 821px 821px;
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 1300px){
  .page-body__cart{
    background: none;
  }
  .page-body__about{
    background: url('./../../img/about/bg/bg-1.png') no-repeat top 10px right calc(50% - 250px) / 557px 496px;
    background-size:  450px;
  }
  #food{
    background: url('./../../img/shop/food/bg/rectangle-brown.svg') no-repeat bottom -105px left calc(50% - 333px) / 156px 134px;
  }
}
/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 767px){
  .page-body__about{
    background: url('./../../img/about/bg/bg-1-mobile.png') no-repeat top 237px right calc(50% - 80px) / 478px 410px,
                url('./../../img/about/bg/ellipse.svg') no-repeat top 2895px left calc(50% - 113px) / 165px 159px;
  }
  .page__body{
    grid-template-rows: max-content auto max-content;
  }
  #page__body-shop{
    background: url('./../../img/shop/bg/ellipse-green.svg') no-repeat top 1185px left calc(50% - 171px) / 266px 266px;
  }
}