.page-footer {
  background-color: var(--background-white-50);
  padding: 40px 20px;
  border-radius: 50px 50px 0 0;
}
.page-footer__nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}
.page-footer__list {
  text-align: right;
}
.page-footer__item:not(:last-child) {
  margin-bottom: 15px;
}
.page-footer__item{
  transition: all .4s;
}
.page-footer__item:hover{
  transform: scale(1.05);
}
.page-footer__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 1300px) {
  .page-footer{
    padding: 20px 30px;
  }
  .page-footer__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .page-footer__link{
    font-size: 15px;
  }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 767px){
  .page-footer__nav{
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
    grid-template-rows: auto auto;
    padding: 0 30px;
  }
  .page-footer__list{
    text-align: left;
    padding: 0;
  }
  .page-footer__link{
    font-size: 12px;
  }
  .page-footer__item:not(:last-child){
    margin-bottom: 5px;
  }
}