.page-main{
    padding: 35px 0 30px 0;
    background: url('./../../img/index/header/decor/ellipse-2.png') no-repeat top 183px right -351px,
    url('./../../img/index/header/decor/ellipse-3.png') no-repeat bottom 55px left -208px;
}
.page-main--no-decor{
    background: none;
    padding: 0 0 50px 0;
}
.page-main__shop{
    
    background: url('./../../img/shop/bg/ellipse-1.svg') no-repeat top 255px left -353px;
}

.page-main__empty-cart{
    padding: 50px 0 150px 0;
}
.page-main__card{
    padding: 20px 0 40px 0;
}
.page-main__form{
    padding: 44px 0 50px 0;
}
.page-main--pet{
    padding-bottom: 30px;
}
.page-main__about{
    padding: 0;
    background: url('./../../img/about/bg/ellipse.png') no-repeat bottom 15px left 37px;
}
.page-main__food{
    background: url('./../../img/shop/food/bg/rect-1.svg') no-repeat bottom -50px left -20px;
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 1300px) {
    .page-main__index{
        padding: 20px 0;
        background: url('./../../img/index/header/decor/ellipse-768.png') no-repeat bottom 51px left -139px,
        url('./../../img/index/header/decor/ellipse-768.png') no-repeat top 111px right -181px;
    }
    .page-main__shop{
        padding-top: 0;
        background: url('./../../img/shop/bg/ellipse-768.svg') no-repeat bottom 148px left -199px;
    }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 767px) {
    .page-main__shop{
        padding-top: 0;
        background: url('./../../img/shop/bg/bg_ellipse_brown-320.svg') no-repeat bottom 508px right -28px,
        url('./../../img/shop/bg/bg_ellipse_green-320.svg') no-repeat bottom 0px left -145px;
    }
    .page-main--pet{
        padding-bottom: 15px;
    }
}