.photo {
  background-color: var(--background-white-50);
  margin-bottom: 100px;
}
.photo__content {
  padding: 30px 0;
}
.photo__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 30px;
}
.photo__slider {
  position: relative;
}
.photo__slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 0;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  transition: all 0.4s;
}
.photo__slider .slick-arrow:hover {
  box-shadow: 0px 5px 19px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 19px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 19px -2px rgba(0, 0, 0, 0.75);
}
.photo__slider .slick-arrow.slick-prev {
  left: 0;
  background: url("./../../img/about/slider/arrow-left.svg") 0 0 / 100%
    no-repeat;
  background-color: var(--color-brown);
}
.photo__slider .slick-arrow.slick-next {
  right: 0;
  background: url("./../../img/about/slider/arrow-right.svg") 0 0 / 100%
    no-repeat;
  background-color: var(--color-brown);
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  align-items: center;
}
.photo__slide {
}
.photo-slide {
}

.photo-slide__img {
  text-align: center;
  filter: blur(2px);
  border-radius: 25px;
  transition: all 0.4s;
  margin: 0 30px;
}
.photo-slide.slick-center .photo-slide__img {
  filter: none;
  opacity: 1;
  transition: all 0.4s;
  
}
.photo__slider-arrows {
  position: absolute;
  top: 0;
  left: 0;
}
/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 1300px){
  .photo{
    margin-bottom: 50px;
  }
  .photo__title{
    font-size: 28px;
    margin-bottom: 15px;
  }
  .photo__content{
    margin: 0 auto;
    padding: 16px 0;
    max-width: 680px;
  }
  .photo__slider .slick-arrow{
    width: 45px;
    height: 45px;

  }
  .photo__slider .slick-arrow.slick-next{
    right: -21px;
  }
  .photo__slider .slick-arrow.slick-prev{
    left: -21px;
  }
  .photo-slide__img{
    margin: 0 12px;
    width: 208px;
    height: 260px;
    
  }
  .photo-slide.slick-center .photo-slide__img{
    
  }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 767px){
  .photo{
    margin: 0;
  }
  .photo__container{
    width: 100vw;
    margin: 0;
  }
  .photo__title{
    font-size: 22px;
    margin-bottom: 15px;
  }
  .photo__content{
    padding: 15px 0;
  }
  .photo-slide__img{
    width: 209px;
    height: 260px;
    margin: 0 15px;
  }
}