
.promo {
  padding-left: 19px;
  display: grid;
  grid-template-columns: 500px 1fr;
}
.promo__text {
    margin-bottom: 39px;
    text-align: center;
}
.promo__name {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 15px;
}
.promo__title {
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 40px;
}
.promo__description {
  max-width: 500px;
  font-weight: 300;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 39px;
}
.promo__description--1 {
    margin-bottom: 20px;
}
.promo__image{
    height: fit-content;
    align-self: flex-end;
}
.promo__image img{
    width: 100%;
    object-fit: cover;
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 1300px){
  .promo{
    grid-template-columns: 286px auto;
  }
  .promo__name{
    font-size: 28px;
    margin-bottom: 10px;
  }
  .promo__title{
    font-size: 15px;
    margin-bottom: 20px;
  }
  .promo__description{
    font-size: 16px;
    margin-bottom: 23px;
  }
  .promo__description--1{
    margin-bottom: 10px;
  }
  .promo__text{
    margin-bottom: 23px;
  }
  .promo__text svg{
    width: 32px;
    height: 34px;
  }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 767px){
  .promo{
    display: block;
    padding: 0;
  }
  .promo__text svg{
    display: none;
  }
  .promo__name{
    font-size: 24px;
  }
}
