.questionnaire__container {
    margin-bottom: 30px;
}
.questionnaire__header {
  display: flex;
  align-items: center;
  gap: 190px; /* НЕ ТОЧНОЕ ЗНАЧЕНИЕ*/
  margin-bottom: 50px;
}
.questionnaire__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
}
.questionnaire-content {
  display: grid;
  grid-template-columns: 544px 1fr;
  grid-template-rows: auto;
  background: url("./../../img/form/bg/form-bg.png") no-repeat top 0px right 0px;
  
}
.questionnaire-content__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 300;
  font-size: 28px;
  line-height: 120%;
  padding-bottom: 50px;
}
.questionnaire-content__text--1 {
    margin-bottom: 20px;
}
.questionnaire-content__text--2 {
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 1300px){
  .questionnaire__title{
    font-size: 28px;
  }
  .questionnaire__link--back{
    font-size: 15px;
  }
  .questionnaire__header{
    gap: 80px;
    margin-bottom: 25px;
  }
  .questionnaire-content{
    grid-template-columns: 310px auto;
    background: url('./../../img/form/bg/form-bg-768.png') no-repeat top 0px right 0px;
  }
  .questionnaire-content__text{
    font-size: 16px;
    padding-left: 22px;
    padding-bottom: 15px;
  }
  .questionnaire-content__text--1{
    margin-bottom: 10px;
  }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 767px){
  .questionnaire__header{
    display: block;
    margin-bottom: 10px;
  }
  
  .questionnaire__title{
    text-align: center;
    font-size: 14px;
    line-height: 110%;
  }
  a.questionnaire__link--back{
    display: inline-block;
    font-size: 12px;
    margin-bottom: 15px;
  }
  .questionnaire-content{
    display: flex;
    flex-direction: column;
    background: none;
  }
  .questionnaire-content__text{
    padding: 0 10px;
    font-size: 14px;
  }
  .questionnaire-content__text--1{
    margin-bottom: 5px;
  }
  .questionnaire__container{
    margin-bottom: 230px;
  }
}