.shop {
    margin-bottom: 24px;
    padding: 0 20px;
    background: url("./../../img/shop/bg/dog-bg.png") no-repeat top -181px right calc(50% - 314px) / 629px 698px;
}
.shop__container {
}
.shop__content {
  padding-top: 85px;
  padding-left: 63px;
  padding-bottom: 96px;
  display: grid;
  grid-template-columns: 484px auto;
}
.shop__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.shop__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop__description {
  font-weight: 300;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  max-width: 432px;
}

/* ============================================================================================================== */
/* ======================================== TABLET WIDTH (768px) =============================================== */
/* ============================================================================================================ */

@media(max-width: 1300px){
  .shop{
    margin-bottom: 10px;
    background: url("./../../img/shop/bg/dog-bg.png") no-repeat top -107px right calc(50% - 182px) / 364px 405px;
  }
  .shop__title{
    font-size: 28px;
    margin-bottom: 20px;
  }
  .shop__description{
    font-size: 16px;
    padding: 0 8px;
  }
  .shop__content{
    padding-top: 29px;
    padding-left: 39px;
    grid-template-columns: 276px auto;
  }
  .shop__container{
    min-height: 305px;
    background-size: 364px 405px;
    background-position: top -95px right 0px;
  }
}

/* ============================================================================================================== */
/* ======================================== MOBILE WIDTH (320px) =============================================== */
/* ============================================================================================================ */

@media (max-width: 767px) {
  .shop{
    background: url("./../../img/shop/bg/dog-320.png") no-repeat top 147px right calc(50%) / 289px 266px;
  }
  .shop__title{
    font-size: 24px;
    margin-bottom: 15px;
  }
  .shop__description{
    font-size: 12px;
  }
  .shop__content{
    display: flex;
    padding: 0;
    padding-top: 15px;
    flex-direction: column;
  }
  .shop__container{
    min-height: 404px;
    background-size: 289px 266px;
  }
}
